.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
  }
  
  .modalForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
  }

  .buttonWrapper{
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  
  .button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  